body{
    padding: 100px;
}
.banktitle{
   text-align: center;
   font-size: 50px;
   font-weight: 600;
}
.login{
    font-size: 20px;
    font-weight: 600;
}
#login-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}
.btn-buttom{
    margin-bottom: 10px;
    margin-left: 10px;
    
}
#transection{
    display: none;
}
.deposit{
    background-color:darkkhaki;
}
.Withdraw{
    background-color: darkorange;
}
.Balance{
    background-color: darkseagreen;
}
.stutes{
    text-align: center;
    width: 300px;
    height: 100px;
    margin: 0px 25px;
    border-radius: 10px;
}
.deposit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
  
}
.deposit-area button{
margin-top: 10px;
}
.deposit-input{
   width: 300px;
   text-align: center;
}
.withdraw-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px; 
}
.withdraw-area button{
    margin-top: 10px;
    }
    .withdraw-input{
       width: 300px;
       text-align: center;
    }
